<div id="header">
  <h1>Calculator</h1>
  <form name="values" class="form-inline" ng-submit="calculate()">
    <input type="number" required placeholder="First Value" ng-model="a" />
    <select ng-model="op">
            <option value="+">Plus +</option>
            <option value="-">Minus -</option>
            <option value="*">Multiplication *</option>
            <option value="/">Division /</option>
          </select>
      <input type="number" required placeholder="Second Value" ng-model="b" />
  </form>
</div>
<div id="total" ng-show="calculate()" class="center">{{ calculate() }}</div>