<div id="header">
  <h1>Database</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading center">
    <label>Slave no.</label>
    <input ng-model="ctrl.id1" required type="text" />
    <button type="button" ng-click="db.getSelected()" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-check"></span> Check</button>
    <button type="button" ng-click="db.deleteSlave()" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span> Delete</button>
  </div>
  <div class="panel-body">
    <div id="form">
      <form class="form-inline">
        <br>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Name" ng-model="ctrl.slave.name" />
        </div>
        <div class="form-group">
          <label>Number</label>
          <input type="number" class="form-control" placeholder="Number" ng-model="ctrl.slave.number" />
        </div>
        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" placeholder="City" ng-model="ctrl.slave.city" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email" ng-model="ctrl.slave.email" />
        </div>
        <button type="button" ng-click="db.addSlave()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span> Add</button>
        <button type="button" ng-click="db.updateSlave()" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
      </form>
      <br>
    </div>
  </div>
</div>
<div class="container">
  <tb-grid server-url="/slave" request-method="POST" page-size="20" class="row" grid-name="Slaves"
    require-authentication="false">
    <div class="row">
      <tb-grid-pager class="col-md-6"></tb-grid-pager>
      <tb-text-search class="col-md-3" css="input-sm"></tb-text-search>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default panel-rounded">
        <tb-grid-table class="table-bordered">
          <tb-column-definitions>
            <tb-column name="Id" column-type="numeric" sortable="true" is-key="true" searchable="false" sort-direction="Ascending"
              sort-order "1" visible="true">
              <tb-column-filter></tb-column-filter>
              <tb-column-header>
                <span>{{label}}</span>
              </tb-column-header>
            </tb-column>
            <tb-column name="Name" column-type="string" sortable="true" is-key="false" searchable="true" sort-direction=""
              sort-order "0" visible="true">
              <tb-column-header>
                <span>{{label}}</span>
              </tb-column-header>
            </tb-column>
            <tb-column name="Number" label="Number" column-type="numeric" sortable="true" is-key="false" searchable="true" sort-direction=""
              sort-order "0">
              <tb-column-header>
                <span>{{label}}</span>
              </tb-column-header>
            </tb-column>
            <tb-column name="City" label="City" column-type="string" sortable="true" is-key="false" searchable="true" sort-direction=""
              sort-order "0" visible="true">
              <tb-column-header>
                <span>{{label}}</span>
              </tb-column-header>
            </tb-column>
            <tb-column name="Email" label="Email" column-type="string" sortable="true" is-key="false" searchable="true" sort-direction=""
              sort-order "0" visible="true">
              <tb-column-header>
                <span>{{label}}</span>
              </tb-column-header>
            </tb-column>
          </tb-column-definitions>
          <tb-row-set>
            <tb-row-template ng-repeat="slave in $component.rows" row-model="row">
              <tb-cell-template column-name="Id">
                {{row.id}}
              </tb-cell-template>
              <tb-cell-template column-name="Name">
                {{row.name}}
              </tb-cell-template>
              <tb-cell-template column-name="Number">
                {{row.number}}
              </tb-cell-template>
              <tb-cell-template column-name="City">
                {{row.city}}
              </tb-cell-template>
              <tb-cell-template column-name="Email">
                {{row.email}}
              </tb-cell-template>
            </tb-row-template>
          </tb-row-set>
        </tb-grid-table>
      </div>
    </div>
    <div class="row">
      <tb-grid-pager class="col-md-6"></tb-grid-pager>
      <tb-page-size-selector class="col-md-3" selectorcss="input-sm"></tb-page-size-selector>
      <tb-grid-pager-info class="col-md-3"></tb-grid-pager-info>
  </tb-grid>
</div>