body {
	background-image: url("http://wallpapercave.com/wp/QKgBmix.jpg");
	background-repeat: no-repeat;
	background-size: 1366px 1024px;
    background-position: right top;
    background-attachment: fixed;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}
#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
#dashboard {
	position: relative;
	background-color: white;
	height: 20px;
	border-radius: 10px;
}
#calculatordiv {
	position: relative;
	background-color: red;
	height: 20px;
	width: 20%;
	border-radius: 5px;
	display:inline-block;
	text-align: center;
	
}
#locationdiv {
	position: relative;
	background-color: blue;
	height: 20px;
	width: 20%;
	border-radius: 5px;
	display:inline-block;
	text-align: center;
}
form {
    position: relative;
    text-align: center;
    font-family: Verdana;
}
#consultedIP {
    position: relative;
    background-color: #ab2
}
#label1 {
    color: #acd1b2
}
a {
	color:black;
}